* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}

.container-6 {
    display: flex;
    flex-direction: column;
    margin: 50px 20px;
}

.container-6 img {
    width: 100%;

}

.wedding-occ,
.birthday-occ,
.any-celebration-occ,
h3 {
    margin-bottom: 30px;
}

h3 {
    font-size: 25px;
}

p {
    margin-top: 10px;
    font-size: 22px;
}
span{
    font-weight: bold;
    font-size: 25px;
}
#phone-logo{
    width: 40px;
    height: 40px;
    margin-top: 67px;
}
@media all and (min-width: 800px) {
    .middle-part {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin-top: 60px;
        margin-left: 50px;
        margin-right: 50px;

    }

    .container-6 img {
        height: 400px;
        width: 100%;
        object-fit: cover;
    }

    .wedding-occ,
    .birthday-occ,
    .any-celebration-occ {
        margin: 10px;
    }
}
