* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

body {
    background: rgb(240, 231, 237);
    text-align: center;
}

header {
    background-color: white;
}

nav {
    display: flex;
    justify-content: center;
    padding: 0 20px;
    
}

.nav-links {
    margin-top: 50px;
    margin-bottom:20px;
}



.nav-ul {
    display: none;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    position: relative;
    
}

.logo {
    width: 150px;
    height: 50px;
    position: absolute;
    left: 5px;
}

.show {
    display: flex;

}

li {
    list-style-type: none;
}

.hamburger {
    display: block;
    position: absolute;
    top: 5px;
    right: 20px;
    font-size: 30px;
    border: none;
    cursor: pointer;
    background-color: transparent;

}

.main-img {
    width: 100%;
}

.nav-li {
    padding-bottom: 5px;
}

nav a {
    color: rgb(61, 35, 52);
    font-weight: bold;
}

nav a:hover {
    opacity: 0.8;
    color: rgb(187, 118, 163);
}

/*--- Special occasion section --- */
#special-occasions {
    padding: 0 20px;
    margin-top: 50px;
}

.special-occasion-main-pharagraph {
    font-size: 20px;
}

.flower-presentation-1 {
    margin-bottom: 50px;
}

.presentation-flowers {
    width: 80%;
    height: 350px;
}

.flower-presentation-price {
    margin-top: 10px;
    font-size: 22px;
}

.price {
    font-size: 20px;
}

/*-- Testimonial Section -- */
#testimonials {
    padding: 0 15px;
    padding-bottom: 50px;
    background-image: linear-gradient(rgb(240, 231, 237), rgb(218, 216, 216));
}

.profile-photo {
    width: 100px;
    border-radius: 50%;
}

.testimonials-main-header {
    margin-bottom: 25px;
}

/*-- Footer -- */
footer {
    background-color: rgb(218, 216, 216);
    padding: 20px 0;
    border-top: 1px solid black;
}

.follow-us {
    font-size: 22px;
}

ol {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.fab {
    padding: 0 10px;
    font-size: 20px;
    cursor: pointer;
}

.fab:hover {
    opacity: 0.8;
    transform: scale(1.05);
}

.carousel-control-next-icon {
    background-image: url(./photos/right-chevron\ \(1\).svg);
    margin-top: -15px;
}

.carousel-control-prev-icon {
    background-image: url(./photos/chevron-pointing-to-the-left.svg);
    margin-top: -15px;
}

@media all and (min-width: 950px) {
    nav {
        display: flex;
        
        justify-content: space-between;
    }

    .nav-ul {
        display: flex;
        flex-direction: row;
        margin-left: 0;
        margin-top: 10px;
    }

    .nav-links {
        margin-top: 10px;
      

    }

    .nav-li {
        padding: 0 10px;
    }

    .hamburger {
        background-color: transparent;
        border: 0;
        color: black;
        font-size: 20px;
        cursor: pointer;
        display: none;
    }

    .hamburger:focus {
        outline: none;
    }

    .main-img {
        width: 100%;
        height: 600px;

        object-fit: cover;
        object-position: top;
    }

    .part-1 {
        display: flex;
    }

    .flower-presentation-1 {
        margin: 30px 50px;
        width: 100%;
    }

    .presentation-flowers {
        width: 90%;
    }

    .roses {
        width: 100%;
    }

    #testimonials {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .testimonials-main-header {
        margin-bottom: 40px;
    }

    .carousel {
        width: 80%;
    }

    .user-review {
        font-size: 20px;
    }
}

@media all and (min-width: 750px) and (max-width: 1000px) {
    .presentation-flowers {
        width: 100%;
        object-fit: cover;
    }
}
